// Colors
$gradient: linear-gradient(272.43deg, #00A3FF 9.11%, #147EBA 85.95%);
$black: #000000;
$white: #ffffff;
$pink: #ff6fb2;

$bg:#686BB5;
// Colors
// Font
$font: 'Nunito';

$font-defult: 400 20px/28px $font;
$font-defult-extraBold: 800 20px/28px $font;
$font-small-bold: 700 18px/24px $font;

$font-title: 900 30px/40px $font;

$font-middle-black: 900 20px/24px $font;
$font-middle-bold: 700 25px/34px $font;
$font-middle-medium: 500 20px/24px $font;
$font-middle-semi: 600 20px/24px $font;
// Font